.header {
  display: flex;
  padding: 10px;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-header-logo {
  width: 70px;
}
.trybewarts-login{
  display: flex;
}


/* Estilizacao dos inputs nome e sobrenome em linha */
.nome-sobrenome {
  display: flex;  
}

.nome-sobrenome #input-name, .nome-sobrenome #input-lastname {
  flex-basis: 50%;
}

/* Estilizacao dos radio buttons em coluna */

.radio-family {
  display: flex;
  flex-direction: column;
}

.radio-family div {
  margin: 5px 0;
}

/* Estilizacao evaluation-form */
main{
  display: flex;
  width: 675px
}

main form{
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  }