/* zerando margins e paddings padrao do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 600;

  /* Adicionar estilo de fonte */
}

input , button , select , textarea {
  border-radius: 8px;
  border: 1px solid black;
  background-color: white;
  min-width: 0;
}

/* estilizacao do header */
.header {
  display: flex;
  padding: 10px;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

header h1 {
  font-size: 50px;
}

.trybewarts-header-logo {
  width: 70px;
}

.trybewarts-login {
  display: flex;
  flex-basis: 60%;
}

.trybewarts-login input , button {
  padding: 5px;
  margin-left: 8px;  
}

.trybewarts-login button {
  padding: 0 40px;
}

/* Estilizacao evaluation-form */
main {
  display: flex;
  align-items: center;
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

main form {
  display: flex;
  flex-direction: column;
  max-width: 675px;
  min-width: 675px;
  margin: 30px 70px 60px;
}

/* estilizacao da imagem lateral da página */
.imagem-logo {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
}

.imagem-logo img {
  height: 500px;
  max-width: 100%;
  min-width: 400px;
}

/* Estilizacao dos inputs nome e sobrenome em linha */
.nome-sobrenome {  
  display: flex;  
  margin: 5px;  
}

.nome-sobrenome #input-name , .nome-sobrenome #input-lastname {  
  flex-basis: 50%;
  padding: 5px;
  margin: 0 2px;  
}

/* estilização da linha entre inputs do formulário */
hr {
  width: 100%;
  border: 1px solid black;
  margin: 20px 0;
}

/* estilizando input email e select */
.box-house {
  align-items: center;
}

.email-house , .email-house .box-house {
  display: flex;
}

.email-house {
  margin: 5px;
}

.email-house #input-email , .email-house .box-house {
  flex-basis: 50%;
  margin: 0 2px;
}

.box-house label {
  font-size: 20px;
}

#house {
  flex-basis: 100%;
  padding: 5px;
}

/* Estilizacao dos radio buttons em coluna */
.radio-family {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.radio-family div {
  margin: 5px 0;
}

.radio-rate {
  margin-bottom: 20px;
}

.radio-rate input {
  margin-left: 1px;
}

/* Estilizacao checkbox conteudo */
.family-conteudo , #conteudo {
  display: flex;
}

#conteudo {
  flex-wrap: wrap;
  flex-basis: 70%;
}

#conteudo div {
  margin: 0 40px;
}

/* Estilizacao da avaliação */

.radio-rate {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.radio-rate div {
  margin-left: 5px;
}

/* Estilizacao textarea */
.box-textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* Estilizacão da permissão */

.permicao {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;  
}

.permicao input {
  min-width: 15px;
}

/* Estilizacao do footer */
footer {
  height: 30px;
  background-color: rgb(44, 43, 43);
  color: white;
  text-align: center;
  padding-top: 5px;
}

/* Media querrys */

@media screen and (max-width: 1290px) {
  main {
    flex-wrap: wrap;
    justify-content: center;
  }

  main form {  
    flex-basis: 70%;  
    min-width: 0;
  }
}

@media (max-width: 1039px){
  .header {
    justify-content: center;
  }  
}

@media (max-width: 913px){
  #conteudo .react {
    margin: 0 69px 0 8px;
  }
}

@media (max-width: 731px) {
  .family-conteudo {
    flex-direction: column;
  }

  .familys {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #conteudo div:nth-child(1) {
    margin: 0;
  }

  #conteudo .react {
    margin: 0 40px;
  }
}

@media (max-width: 700px) {
  .trybewarts-login {        
      flex-direction: column;
  }
}

@media (max-width: 629px){
  #conteudo .react {
    margin: 0 69px 0 8px;
  }
}

@media (max-width: 452px){
  #conteudo .react {
    margin: 0 40px;
  }

  .email-house {
    flex-direction: column;
  }

  #input-email , .box-house {
    width: 100%;
  }
}


